<!DOCTYPE html>
<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>



 {% include "includes/header.html"  %} 


{% load static %}

<link rel="stylesheet" href="{% static 'asim/css/tab.css' %}">


 {% include "includes/menu.html" with active_tab='Home' %} 




{% load staticfiles %}









<body>

{% if latest_tgf_list %}
	<div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                <tr>
                  <th class="header"> Observation ID <i class="icon-sort"></i></th>
                  <th class="header"> UTC year <i class="icon-sort"></i></th>
                  <th class="header"> UTC seconds <i class="icon-sort"></i></th>
                  <th class="header"> MMIA Trigger Enabled <i class="icon-sort"></i></th>
                  <th class="header"> Num Counts <i class="icon-sort"></i></th>
                  <th class="header"> Detector Counts <i class="icon-sort"></i></th>
                </tr>
            </thead>
            <tbody>
            
            {% for tgf in latest_tgf_list %}
                <tr>
                    <td>{{ tgf.observation_id }}</td>
                    <td>{{ tgf.utc_year }}</td>
                    <td>{{ tgf.utc_seconds }}</td>
                    <td>{{ tgf.trig_mmia_enabled  }}</td>
                    <td>{{ tgf.num_counts }}</td>
                    <td>
<img src="{% static 'asim/2016/117/mxgsprev001.jpg' %}" height= 50 alt="My image"/>
</td>
                </tr>
            {% endfor %}
            
            </tbody>
            </table>
        </div>
    </div>
{% else %}
    <p>No asim are available.</p>
{% endif %}
</body>
</html>
